$primary: #A49169;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  text-decoration:  none;
  color: black; 
}

.heading { 
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 300;
}
.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 8rem;
}

