$primary: #a49169;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.info {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  &.center {
    text-align: center;
  }
}
.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}
.text-wrapper {
  margin: 2rem 0rem;
}
.text-large {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  &.center {
    text-align: center;
  }
}

.text-medium {
  font-size: 1.2rem;
  &.center {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .heading {
    font-size: 1.5rem;
  }

  .info {
    font-size: 1rem;
  }

  .text-large {
    font-size: 1.2rem;
  }
}
