* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  text-decoration:  none;
  color: black; 
}

.heading { 
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 300;
}
.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  a {
    display: inline-block;
    margin-left: 1rem;
    font-weight: 500;
  }
}