$primary: #a49169;

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;

  a {
    display: inline-block;
    margin-left: 1rem;
    font-weight: 500;
    &.cta {
      background-color: $primary;
      padding: 0.5rem 1rem;
      color: white;
      border: none;
    }
  }

  button {
    outline: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
    border: none;
    background-color: $primary;
    transition: all easet-in-out 300ms;
    color: white;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  @media screen and (max-width: 768px) {
    a {
      margin-left: 1rem;
      margin-top: 1rem;
    }

    button {
      margin-left: 1rem;
      margin-top: 1rem;
    }
  }
}
